.App {
  padding-top: 19px;
  background-color: #e3e1dd;
  text-align: center;
  min-height: calc(100vh - 19px);
}

.App-green-line {
  position: absolute;
  top: -19px;
  height: 150px;
  width: 100%;
  background-color: #00A884;
}

.App-content {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F0F2F5;
  width: calc(100% - 38px);
  max-width: 1600px;
  height: calc(100vh - 38px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0 auto;
  box-shadow: 0 6px 18px rgba(10, 20, 26, .05);
}

input {
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px 15px; 
}

button {
  border: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  background-color: #00A884;
  color: white;
}
